option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: monitoreo.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: monitoreo.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/