<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Editar Dispositivo{% else %}Crear Dispositivo{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar Dispositivo{% else %}Crear Dispositivo{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
    </form>
    <a href="{% url 'listar_dispositivos' %}">Volver a la lista de dispositivos</a>
</body>
</html>
